


<EditForm Model="customer" FormName="formAddCustomer" OnValidSubmit="Submit">

    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>

    <div class="row mb-3">
        <div class="col-2">
            <label class="col-form-label">First Name</label>
        </div>
        <div class="col-6">
            <InputText @bind-Value="customer.FirstName" class="form-control"></InputText>
        </div>
        <div class="col">
            <ValidationMessage For="() => customer.FirstName"></ValidationMessage>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2">
            <label class="col-form-label">Last Name</label>
        </div>
        <div class="col-6">
            <InputText @bind-Value="customer.LastName" class="form-control"></InputText>
        </div>
        <div class="col">
            <ValidationMessage For="() => customer.LastName"></ValidationMessage>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2">
            <label class="col-form-label">Email</label>
        </div>
        <div class="col-6">
            <InputText @bind-Value="customer.Email" class="form-control"></InputText>
        </div>
        <div class="col">
            <ValidationMessage For="() => customer.Email"></ValidationMessage>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2">
            <label class="col-form-label">Phone</label>
        </div>
        <div class="col-6">
            <InputText @bind-Value="customer.PhoneNumber" class="form-control"></InputText>
        </div>
        <div class="col">
            <ValidationMessage For="() => customer.PhoneNumber"></ValidationMessage>
        </div>
    </div>
    <br />
    <button class="btn btn-primary" type="submit">Update</button>

</EditForm>

<br />

<a href="/projects" class="btn btn-primary">Back to Projects</a>



@code {
    [Parameter]
    public int Id { get; set; }

    [SupplyParameterFromForm(FormName = "formAddCustomer")]
    private Customer? customer { get; set; }

    protected override void OnParametersSet()
    {
        customer ??= new Customer();
    }

    private void Submit()
    {
        
    }
}
